
@media (min-width: 1200px) {
    .custom-navbar{display:inline;} }
@media (min-width: 768px) {
    .custom-navbar{flex-direction: column;;} }

  .login-border {
  border: 2px solid #ffffff;
  border-radius: 12px;
  width: 130%;
  padding: 10%;
  margin-top: -530%;
  margin-left: 820%;
  height: auto;
}

#login_btn{
	margin: 6%

}

#register_modal{
	color:#0F88F2;
}

  div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=60); /* For IE8 and earlier */
   box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}

html, body {
  height: 100%;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.left {
    float: left;
    padding: 20px;
}

.right {
    float: right;
    padding: 20px;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.wip {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ff0;
  color: #ff0;
  text-shadow: 0px 0px 3px #ff0;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 0, 0.5), 0px 0px 4px 1px rgba(255, 255, 0, 0.5) inset;
  transform-origin: center center;
  transform: rotate(-45deg) translate(-65px, -45px);
  -ms-transform: rotate(-45deg);
}

.button {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 1px #000;
    font-size: 16px;
    text-decoration:none;

    padding: 0.5em 1.5em;
    margin: 0.5em;

    cursor: pointer;
    width: 200px;
    overflow: visible;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  
    outline: 0;
}

.glass {
    background: -moz-linear-gradient(top,
      rgba(96,103,104,0.3) 0%,
      rgba(187,187,187,0.3) 3%,
      rgba(187,187,187,0.3) 27%,
      rgba(0,0,0,0.3) 28%,
      rgba(0,0,0,0.3) 60%,
      rgba(0,0,0,0.3) 73%,
      rgba(75,80,81,0.3) 88%,
      rgba(0,0,0,0.3) 97%,
      rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%,rgba(96,103,104,0.3)),
      color-stop(3%,rgba(187,187,187,0.3)),
      color-stop(27%,rgba(187,187,187,0.3)),
      color-stop(28%,rgba(0,0,0,0.3)),
      color-stop(60%,rgba(0,0,0,0.3)),
      color-stop(73%,rgba(0,0,0,0.3)),
      color-stop(88%,rgba(75,80,81,0.3)),
      color-stop(97%,rgba(0,0,0,0.3)),
      color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */


    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 1px;
  
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset;
}

.glass-sculpted {
    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 1px;
  
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset;
}

button:active {
    margin-left: 2px;
    margin-right: -2px;
}

/**
 * Style A
 */
button:active.blue-a {
  
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important; 
  */
}



.blue-a, .blue-b {
    color: rgba(200, 230, 255, 0.99);
    background-color: rgba(120, 200, 255, 0.25);
    height:65px;
    margin-right:5%;
    margin-bottom:2%;
    font-size: 17px;
}

button:hover.blue-a {
    color: rgba(230, 240, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(230, 240, 255, 0.99), 0px 0px 4px rgba(200, 230, 255, 0.99);
    border-color: rgba(120, 200, 255, 0.4);
    box-shadow:
    0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
    0 2px 6px rgba(0, 0, 0, 0.5),
    0 10px rgba(0, 0, 0, 0.05) inset,
    0 0px 5px 2px rgba(120, 200, 255, 0.75),
    0 0px 10px 2px rgba(120, 200, 255, 0.75) inset;
}

button:active.blue-a {
    color: rgba(230, 240, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(230, 240, 255, 0.99), 0px 0px 4px rgba(200, 230, 255, 0.99);

    border-color: rgba(120, 200, 255, 0.6) !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;

    box-shadow:
    0 1px 0 0 rgba(120, 200, 255, 0.4) inset,
    0 10px 0 0 rgba(120, 200, 255, 0.5) inset,
    0 0 5px 2px rgba(120, 200, 255, 0.75),
    0 0 10px 2px rgba(120, 200, 255, 0.75) inset !important;

}

/**
 * Style B
 */
.clear-b, .blue-b {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

button:hover.clear-b {
    color: rgba(0, 0, 0, 1.0);
    text-shadow: none;

    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 1px;

    box-shadow:
    0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
    0 10px rgba(255, 255, 255, 0.5) inset,
    0 0 5px 2px rgba(255, 255, 255, 0.75);

}

button:active.clear-b {
    
    border-color: rgba(255, 255, 255, 0.6) !important;
   
    box-shadow:
    0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
    0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
    0 0 5px 2px rgba(255, 255, 255, 0.75),
    0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
}

button:hover.blue-b {
    text-shadow: 0px 0px 2px rgba(170, 200, 255, 0.99), 0px 0px 4px rgba(140, 170, 255, 0.99);

    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 1px;

    box-shadow:
    0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
    0 10px rgba(120, 200, 255, 0.5) inset,
    0 0 5px 2px rgba(120, 200, 255, 0.75),
    0 0 10px 2px rgba(120, 200, 255, 0.75) inset;

}

button:active.blue-b {    
    text-shadow: 0px 0px 2px rgba(230, 240, 255, 0.99), 0px 0px 4px rgba(200, 210, 255, 0.99);
    border-color: rgba(120, 200, 255, 0.6) !important;
   
    box-shadow:
    0 1px 0 0 rgba(120, 200, 255, 0.4) inset,
    0 10px 0 0 rgba(120, 200, 255, 0.5) inset,
    0 0 5px 2px rgba(120, 200, 255, 0.75),
    0 0 10px 2px rgba(120, 200, 255, 0.75) inset !important;
}

#sub-list-wrap{
	margin-left: -10%;
    margin-top: 5%;
}

#background-gradiend{

    margin-top: -15%;

}